[user]
	email = egomezbpedro@gmail.com
	name = Gomez Betancourt, Pedro Enrique

[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential

[includeIf "gitdir:~/images/"]
    path = ~/Images/.gitconfig

[includeIf "gitdir:~/personal/"]
    path = ~/personal/.gitconfig

[includeIf "gitdir:~/tools/"]
    path = ~/tools/.gitconfig

[commit]
    gpgsign = false

[rerere]
    enabled = true

[init]
    defaultBranch = main
